// Colors
$line-color: #BABBC5;
$main-font-color: #ffffff;
$hidden-line-color: transparent;
$active-color: #E71414;
$accent-color: #FF4343;
$background-color: #252B49;
$title-color: #2D3033;
$description-color:#6C7279;
$gradient-hover: linear-gradient(0deg, rgba(255, 67, 67, 0.8), rgba(255, 67, 67, 0.8));
$gradient-active: linear-gradient(0deg, rgba(185, 12, 12, 0.8), rgba(185, 12, 12, 0.8));
$footer-secondary-color: #808080;
$download-color: #000000;
